.main {
  padding: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 430px;
  flex-direction: column;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.input {
  width: 100%;
}

.input div {
  width: 100%;
}

.text {
  margin-top: 10px;
}

.link {
  color: #4c4cff;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
}
