.main {
  display: flex;
  padding-top: 120px;
  width: 1300px;
  gap: 60px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-left: 20px;
}

.link_active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  width: 320px;
  height: 64px;
  color: #f2f2f3;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  width: 320px;
  height: 64px;
  color: #8585ad;
}

.link:hover {
  transition: all 0.6s linear;
  color: #f2f2f3;
}

.form {
  display: flex;
  flex-direction: column;
  width: 480px;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.input {
  width: 100%;
}

.input div {
  width: 100%;
}

.input div div div:last-child {
  width: 24px;
  height: 24px;
}

.text {
  width: 320px;
  height: 64px;
  padding-top: 80px;
}
