.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  max-height: calc(100vh - 230px);
  min-height: 350px;
  /* height: 300px */
}

.ul {
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  transform: translateX(15px);
  padding: 0px 8px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 50vh;
  overflow: auto;
}

.ul::-webkit-scrollbar {
  width: 8px;
  background-color:#2F2F37;
}

.ul::-webkit-scrollbar-thumb {
  height: 92px;
  background-color: #8585AD;
}

.container_btm {
  display: flex;
  gap: 40px;
  align-items: center;
}

.container_price {
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  border: dashed 3px #8585AD;
}

.bun {
  max-height: 80px;
}