.card {
  background-color: #1c1c21;
  border-radius: 30px;
  /* width: 550px; */
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  justify-content: center;
}

.imageContainer {
  position: relative;
  height: 65px;
}

.icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #4c4cff;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-color: #1c1c21;
}

.color {
  color: #00cccc;
}
