.nav {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-left: 20px;
}

.link_active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  width: 320px;
  height: 64px;
  color: #f2f2f3;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  width: 320px;
  height: 64px;
  color: #8585ad;
}

.link:hover {
  transition: all 0.6s linear;
  color: #f2f2f3;
}
